.portfolio-header{
    &.mobile{
        padding: 10px 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .name-logo{
        height: 2.75rem;
        width: 2.75rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}