<div id="appContainer">
    <app-pre-loader *ngIf="showPreLoaderSpinner; else portfolioContainer"/>
    <!-- <div *ngIf="!showPreLoaderSpinner">
        <ng-template [ngTemplateOutlet]="portfolioContainer"></ng-template>
    </div> -->
    <ng-template #portfolioContainer>
        <div [@fadeInOut] class="main-container">
            <app-portfolio-header *ngIf="isMobile" [isMobile]="isMobile" />
            <app-portfolio-container [isMobile]="isMobile" />
        </div>
    </ng-template>
</div>