.portfolio-user-basic-details-container {
    height: 100%;
    margin-bottom: 6.25rem;

    .user-profile-section {
        text-align: center;

        &.mobile {
            height: 50%;

            .profile-wrapper {
                width: 60%;

                .user-profile-img {
                    padding: 5px !important;
                }
            }
        }

        .profile-wrapper {
            display: inline-block;
            border-radius: 100%;
            overflow: hidden;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            height: 100%;

            .user-profile-img {
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px;
                border-radius: 100%;
            }
        }

    }

    .user-intro-details-section {
        .typewrite {
            min-height: 1.5em;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            color: #aaa;

            .wrap::after {
                content: '|';
                animation: blink 0.75s infinite alternate;
                color: #666;
                position: absolute;
                width: 20px;
                top: 0;
                right: -1.1em;
            }
        }

        .btns-section {
            .primary-btn {
                border-color: #4A6583;
                color: #222;
                background-color: transparent;

                &.hover {
                    color: #fff;
                    background-color: #4A6583;
                }
            }

            .secondary-btn {
                border-color: #aaa;
                color: #666;
                background-color: transparent;
                text-decoration: none;

                &.hover {
                    color: #222;
                    background-color: #aaa;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 803px) {
    .common-btn {
        width: 100%;
    }

    .secondary-btn {
        display: block;
        text-align: center;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}